<!DOCTYPE html>
<html>
  <head>
    <title>Geocoding Montevideo</title>
    <meta charset="utf8">
  </head>
  <body>
    <h1>Geocoding Montevideo</h1>

    <form action="/geocode" method="get">
      <p><label for="address">Busca una dirección en Montevideo:</label></p>
      <p>
        <input type="text" name="address" id="address" value="<%= address %>">
        <button type="submit">Buscar</button>
      </p>
    </form>

    <% if lat_long.exact_match? %>
      <dl>
        <dt>Latitude:</dt>
        <dd><%= lat_long.latitude %></dd>
        <dt>Longitude:</dt>
        <dd><%= lat_long.longitude %></dd>
      </dl>
    <% elsif address.size > 0 %>
      <p class="error">No exact match for "<%= address %>"</p>
    <% end %>
  </body>
</html>
